{% extends 'login_base.html.twig' %}
{% block title %}Contacts{% endblock %}
{% block body %}<body id="page-top">{% endblock %}

{% block content %}
    <h1>Contacts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ contact.phone }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ contact.city }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contacts_index') }}">
        <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Show Profile"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </a>
    <a href="{{ path('app_contacts_edit', {'id': contact.id}) }}">edit</a>

{% endblock %}
